body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #23252C;
  font-family: 'Jost';
  color: white ;
}

.container {
  width: 19.813em;
  border-radius: 0.5em;
  margin-top: 2.75em;
  background-color: #1A1B21;
  overflow: hidden;
}

nav {
  text-align: center;
}

nav > h1, p {
  margin: 0;
}

nav > h1 {
  font-weight: 700;
  font-size: 1.563rem;
  padding-top: .5em;
}

nav > p {
  color: #ff3258;
  padding-bottom: 0.375em;
}

nav > img {
  width: 100%;
}

nav > a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 0.625rem;
  
}

nav > .buttons {
  padding: 0.5em 2.188em;
  display: flex;
  justify-content: space-between;
}

a > img {
  width: 16px;
}

.btn {
  width: 115px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  text-decoration: none;
  color: white;
  border: 1px solid  #ff3258;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
  background: transparent ;
}

.btn::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ff3258;
  z-index: 1;
  transition: left 0.4s cubic-bezier(0.4,0,0.2,1);
}

.btn:hover::before {
  left: 0;
}

.btn:hover {
  background: transparent !important;
  color: white;
}
.btn:hover * {
  color: white;
}

.btn > img,
.btn > span,
.btn > svg,
.btn > a {
  position: relative;
  z-index: 2;
}

section {
  padding: 0.5em 2.188em;
}

section h2 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  padding-bottom: .25em;
}

section p {
  font-weight: 400;
  font-size: 0.64rem;
  line-height: 150%;
}

footer {
  background-color: #161619;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em
}

footer img {
  width: 1.563em;
}



